page-login {
    
}
#aleft{
    display: block;
    float: left;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
}

p{
    color: brown;
    font-size: 16px;
}
p a{
    color: red;
}

#aright{
    display: block;
    float: right;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 15  px;
    margin-right: 5px;
}
